<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!--Hibernate配置文件的根元素，其它元素应在其中-->
<hibernate-configuration>
        <!-- 设置初始化Hibernate参数的元素，其中指定Hibernate初始化参数，表明以下的配置是针对session-factory配置，SessionFactory是Hibernate中的一个接口，这个接口主要负责保存Hibernate的配置信息，以及对Session的操作 -->
	<session-factory>
        <!-- 设置连接数据库所用的驱动 ，本例中的com.mysql.jdbc.Driver 是MySQL的驱动名字-->
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <!--设置数据库连接使用的url，“jdbc:mysql://localhost(IP):port/test”，其中，localhost(IP)表示MySQL服务器名称，即连接地址，此处为本机。port代表MySQL服务器的端口号，默认是3306。test是数据库名，即要连接的数据库名-->
		<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/test?useSSL=false&amp;serverTimezone=UTC</property>
		<!-- 设置数据库的用户名（登录名） -->
		<property name="hibernate.connection.username">root</property>
		<!-- 设置数据库的连接密码 -->
		<property name="hibernate.connection.password">123456</property>
		<!-- 设置数据库的方言，每种数据库都有对应的方言 -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<!--加载所用连接池的JAR文件，该JAR文件在Hibernate文件夹下的“lib\optional\c3p0”中-->
		<property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
		<!-- 设置连接池中最小连接数 -->
		<property name="hibernate.c3p0.min_size">10</property>
		<!-- 设置连接池中最大连接数 -->
		<property name="hibernate.c3p0.max_size">50</property>
		<!-- 设置连接池中某个数据库连接超时时长，超时将被移除，即最大时间-->
		<property name="hibernate.c3p0.timeout">120</property>
		<!-- 设置时间范围内检查所有连接的空闲时间并销毁超时的连接-->
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<!--设置当连接池中的连接耗尽的时候，一次同时获取的连接数-->
  		<property name="acquireIncrement">5</property>
		<!--设置在从数据库获取新连接失败后重复尝试的次数-->
 		<property name="acquireRetryAttempts">30</property>
 		<!--设置两次连接中间隔时间，单位毫秒-->
 		<property name="acquireRetryDelay">1000</property>
 		<!--连接关闭时默认将所有未提交的操作回滚-->
 		<property name="autoCommitOnClose">false</property>
		<!--设置session上下文，thread表示，当前thread中取到的session保证是同一个session-->		
		<property name="current_session_context_class">thread</property>
		<!--根据需要自动创建数据表-->	
                <property name="hibernate.hbm2ddl.auto">update</property>
                <!--设置是否将Hibernate发送给数据库的SQL 显示出来，这是非常有用的功能。在调试Hibernate的时候，让Hibernate打印SQL 语句，有助于迅速解决问题-->
                <property name="hibernate.show_sql">true</property>
                <!-- 格式化显示执行的 SQL语句  -->
                <property name="hibernate.format_sql">true</property>
		
                
		<!-- 加入映射文件，可以加入多个映射文件 -->
 		<mapping resource="PO/UserInfoPO.hbm.xml"/> 	
	</session-factory>
</hibernate-configuration>
